<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <div *ngIf="courses.length > 0">
  list of courses
</div>

<div *ngIf="courses.length == 0">
  no courses yet 
</div> -->

 <!-- percabangan kedua -->
<!-- <div *ngIf="courses.length > 0; else noCourses">
  list of courses
</div>

<ng-template #noCourses>
  no course yet 
</ng-template> -->

<!-- percabangan ketiga -->
<!-- <div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
  list of courses
</ng-template>

<ng-template #noCourses>
  no course yet 
</ng-template> -->

<!-- Hidden Property -->
<!-- <div hidden>
  list courses list
</div>

<div >
  no courses yet
</div> -->

<!-- <div [hidden]="courses.length == 0">
  list courses list
</div>

<div [hidden]="courses.length > 0">
  no courses yet
</div> -->

<!-- ngIf  -->
<!-- <div *ngIf="courses.length > 0">
  list of courses
</div>

<div *ngIf="courses.length == 0">
  no courses yet 
</div>  -->

<!-- ngSwitchCase -->
<!-- <ul class="nav nav-pills">
  <li class="nav-item">
    <a 
      (click)="viewMode = 'map'"
      class="nav-link"
      [class.active]="viewMode == 'map'"
    >Map View</a>
  </li>
  <li class="nav-item">
    <a 
      (click)="viewMode = 'list'"
      class="nav-link"
      [class.active]="viewMode == 'list'"
    >List View</a>
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Other</div>
</div> -->

<!-- ngFor -->
<!-- 1 -->
<!-- <ul>
  <li *ngFor="let item of coursesFor; index as i">
    {{i}}-{{item.name}}
  </li>
</ul> -->

<!-- 2 -->
<!-- <ul>
  <li *ngFor="let item of coursesFor; even as isEven">
      {{item.name}}
    <span *ngIf="isEven">(Even)</span>
  </li>
</ul> -->

<!-- ngFor change detection -->
<!-- 1 -->
<!-- <button (click)="onAdd()">add</button>
<ul>
  <li *ngFor="let item of coursesFor; even as isEven ">
      {{item.name}}
      <span *ngIf="isEven">(Even)</span>
  </li>
</ul> -->

<!-- 2 -->
<!-- <button (click)="onAdd()">add</button>
<ul>
  <li *ngFor="let item of coursesFor; even as isEven ">
      {{item.name}}
      <span *ngIf="isEven">(Even)</span>
      <button (click)="onRemove(item)">Remove</button>
  </li>
</ul> -->

<!-- 3 -->
<!-- <button (click)="onAdd()">add</button>
<ul>
  <li *ngFor="let item of coursesFor; even as isEven ">
      {{item.name}}
      <span *ngIf="isEven">(Even)</span>
      <button (click)="onChange(item)">Update</button>
  </li>
</ul> -->

<!-- ngFor dan trackby -->
<!-- <button (click)="loadCourses()">Tampilkan data</button>
<ul>
  <li *ngFor="let itemone of coursesForOne">
    {{itemone.nama}}
  </li>
</ul>
<br> -->

<!-- &nbsp; <button (click)="loadCourses()">Tampilkan data</button>
<ul>
  <li *ngFor="let itemone of coursesForOne; TrackBy:trackCourse">
    {{itemone.nama}}
  </li>
</ul> -->

<!-- Leading Asterik -->
<!-- <div *ngIf="courses.length > 0">
  list of courses
</div>

<ng-template [ngIf]="courses.length>0">
  <div>
    list of course
  </div>
</ng-template> -->

<!-- <span 
class="fa"
[class.fa-star]="isSelected"
[class.fa-star-o]="!isSelected"
(click)="onClickAlias()"></span>

<span 
class="fa"
[ngClass]="{
  'fa-star':isSelected,
  'fa-star-o':!isSelected 
}"
(click)="onClickAlias()"></span> -->

<!-- <br>
&nbsp;<input type="text" appInputFormat> -->

<!-- percobaan custom directive -->
<!-- <br>
&nbsp;<input type="text" appInputFormat [format]="'uppercase'"> -->

<!-- percobaan custom directive -->
<br>
<!-- &nbsp;<input type="text" appInputFormat [appInputformat]="'uppercase'"> --> 
&nbsp;<input type="text" appInputFormat [appInputFormat]="'uppercase'">
<router-outlet></router-outlet>
