<h3><p align=right>
  Yuli Dwi Cahyanti - 1741720165 - TI2B
</p></h3>
<h1 align=center>{{title}}<br>
{{currentDate | date:"fullDate"}}</h1>

<h2>
  {{name}}<br>
  {{address}}<br>
  {{hobby}}
</h2>
<h2><table border="1">
  <thead>
      <th>
      NO
      </th>
      <th>
      Hobby
      </th>
      <th>
      Keterangan
      </th>
      </thead>
  <tbody>
    <tr *ngFor="let Course of Dua">
      <td>{{ Course.NO}}</td>
      <td>{{ Course.Hobby}}</td>
      <td>{{ Course.Keterangan}}</td>
    </tr>
  </tbody>
</table></h2>