<!-- <form>
  <div class ="form-group">
    <label for="username">Username</label>
    <input
      id="username"
      type="text"
      class="form-control">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
    id="password"
    type="text"
    class="form-control">
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form> -->

<form [formGroup]="form" (ngSubmit)="login()">
  <div *ngIf="form.errors" class="alert alert-danger">
    The username and password is invalid
  </div>
  <div class ="form-group">
    <label for="username">Username</label>
    <input
      formControlName="username"
      id="username"
      type="text"
      class="form-control">
      <!-- <div *ngIf="form.get('username').touched && form.get('username').invalid" class="alert alert-danger">
        Username is required
      </div> -->
      <!-- <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        Username is required
      </div> -->
      <div *ngIf="username.pending">Checking for uniqueness...</div>
      <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
        <div *ngIf="username.errors.required">Username is required</div>
        <div *ngIf="username.errors.minlength">Username should minimum 5 character</div>
        <div *ngIf="username.errors.minLength">
          Username Should Minimum {{username.errors.minlength.requiredLength}} characters
        </div>
        <div *ngIf="username.errors.cannotContainSpace">
          Cannot contain space
        </div>
        <div *ngIf="username.errors.shouldBeUnique">
          Username is already taken
        </div>
      </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
    formControlName="password"
    id="password"
    type="text"
    class="form-control">
  </div>
  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>