<p>
  courses works!
</p>
<p>
  {{ getTitle() }}  
</p>
<p>
  {{"judulnya:" +title}}  
</p>
<table>
  <thead>
    <th>
      #ID
      
    </th>
    <th>Course name</th>
  </thead>
  <tbody>
    <tr *ngFor="let Course of Courses">
      <!-- string interpolation -->
      <td> {{ Course.id }}</td>
      <td> {{ Course.name }}</td>
    </tr>
  </tbody>
</table> 

<h2>{{binding}}</h2>
<h2 [textContent]='binding'></h2>

<img src="{{imageUrl}}"/>
<img [src]="imageUrl"/>

<table>
  <tr>
    <td [attr.colspan]='colSpan'></td>
  </tr>
  <button type='button' class="btn btn-primary">tambah</button>
</table>

<button type="button" class="btn btn-primary" [class.active]="isActive">Tambah</button>

<button type="button" class="btn btn-primary" [style.backgroundColor]="isActive?'blue':'white'">Style</button>
<br>

<button type="button" class="btn btn-danger" (click)="onSave($event)">Button</button>

<div (click)="onDivClick($event)">
  <button type="button" class="btn btn-danger"
  (click)="onSave($event)">Button</button>
</div>

<!-- <input type="text" (keyup.enter)="onKeyUp()"> -->
<!-- <input type="text" #nama (keyup.enter)="onKeyUp(nama.value)"> -->

<!-- <input type="text" [value]="nama" (keyup.enter)="nama = $event.target.value;onKeyUp()"> -->

<input type="text" [(ngModel)] = "nama" (keyup.enter)="onKeyUp()">